__pycache__
domainbed/facebook.py

Domain_Generalization/domainbed/data/*
Domain_Generalization/train_output/*
Domain_Generalization/logs/*
Domain_Generalization/visualization/*
Domain_Generalization/plt_results/*
Domain_Generalization/train_semi.py
SDAT/plt_cmusm.py
SDAT/wandb/*
SDAT/logs/*
SDAT/data/*
NLP_Genomics_Graph/amazon/*
NLP_Genomics_Graph/logs/*
NLP_Genomics_Graph/ogb/*
logs/*
Continuous_Domain_Adaptation/toy-sine/*
Continuous_Domain_Adaptation/fig/*
Continuous_Domain_Adaptation/CIDA/*
Image_Reterival/logs/*

*.pt
*.pth
*.zip
*.csv
*.pdf
*.tgz
*.out
*.xlsx
*.pyc
*.npy
*.xlsx
*.pdf
*.jsonl
*.xls
*.json